<div name="about" class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://github.com/Gutemberg-Arrais.png" alt="Profile">
  <div class="card-body">
    <h5 class="card-title">Aluno</h5>
    <p class="card-text">Gutemberg Arrais de Castro Cavalcante.</p>
  </div>
</div>